In [17]:
import pandas as pd
from scipy.optimize import newton, bisect
from scipy.differentiate import derivative

In [18]:
fa = lambda x: x**3 - 5*x
x0a = 1
dfa = lambda x: derivative(fa, x).df

fb = lambda x: x**3 - 3*x + 1
x0b = 1
dfb = lambda x: derivative(fb, x).df

fc = lambda x: 2 - x**5
x0c = 0.01
dfc = lambda x: derivative(fc, x).df

fd = lambda x: x**4 - 4.29*x**2 - 5.29
x0d = 0.8
dfd = lambda x: derivative(fd, x).df

In [19]:
try:
    newton(fb, x0b, fprime=dfb)
except RuntimeError as err:
    print(err)

Derivative was zero. Failed to converge after 1 iterations, value is 1.0.

In [20]:
try:
    newton(fc, x0c, fprime=dfc)
except RuntimeError as err:
    print(err)

Failed to converge after 50 iterations, value is 713.6177315300865.

In [21]:
try:
    newton(fd, x0d, fprime=dfd)
except RuntimeError as err:
    print(err)

Failed to converge after 50 iterations, value is 0.7876130494100972.

In [22]:
pd.DataFrame([["x**3 - 5*x", 1, newton(fa, x0a, fprime=dfa)], 
              ["x**3 - 3*x + 1", 1, "błąd"], 
              ["2 - x**5", 0.01, "błąd"],
              ["x**4 - 4.29*x**2 - 5.29", 0.8, "błąd"]], 
             ["a", "b", "c", "d"], 
             ["f", "x0", "newton(f, x0)"])

                         f    x0 newton(f, x0)
a               x**3 - 5*x  1.00          -0.0
b           x**3 - 3*x + 1  1.00          błąd
c                 2 - x**5  0.01          błąd
d  x**4 - 4.29*x**2 - 5.29  0.80          błąd

a) flat spot
b) flat spot
c) flat spot
d) cycle

In [23]:
pd.DataFrame([["x**3 - 5*x", -1, 1, bisect(fa, -1, 1)], 
              ["x**3 - 3*x + 1", 0, 1, bisect(fb, 0, 1)], 
              ["2 - x**5", 0.01, 100, bisect(fc, 0.01, 100)],
              ["x**4 - 4.29*x**2 - 5.29", 0.8, 100, bisect(fd, 0.8, 100)]], 
             ["a", "b", "c", "d"], 
             ["f", "a", "b", "bisect(f, a, b)"])

                         f     a    b  bisect(f, a, b)
a               x**3 - 5*x -1.00    1         0.000000
b           x**3 - 3*x + 1  0.00    1         0.347296
c                 2 - x**5  0.01  100         1.148698
d  x**4 - 4.29*x**2 - 5.29  0.80  100         2.300000